<!DOCTYPE html>
<html &lang="(get context meta.language)">
  <head>
    <link
      rel="icon"
      href="data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22%3E%3Ctext y=%22.9em%22 font-size=%2290%22%3E%F0%9F%90%B3%3C/text%3E%3C/svg%3E"
    />
    <link
      __reference="https://web.dev/defer-non-critical-css/"
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/highlightjs/highlight.js@11.10.0/src/styles/github-dark.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/highlight.js@11.10.0/src/styles/github-dark.min.css"
    /></noscript>
    <MetaFields />
    <Styles />
  </head>
  <body>
    <MainNavigation />
    <aside
      class="fixed top-16 pl-4 hidden lg:inline"
      &children="(get props aside)"
    ></aside>
    <main &children="(get props content)"></main>
    <MainFooter />
    <Scripts />
  </body>
</html>
