<?xml version="1.0" encoding="utf-8" ?>
<feed
  _reference="https://kevincox.ca/2022/05/06/rss-feed-best-practices/"
  xmlns="http://www.w3.org/2005/Atom"
>
  <title
    _children="{ 'utility': 'get', 'parameters': ['context', 'meta.siteName'] }"
  ></title>
  <id
    _children="{ 'utility': 'get', 'parameters': ['context', 'meta.url'] }"
  ></id>
  <link
    rel="alternate"
    href="{ 'utility': 'get', 'parameters': ['context', 'meta.url'] }"
  />
  <link
    rel="self"
    href="{ 'utility': 'concat', 'parameters': [{ 'utility': 'get', 'parameters': ['context', 'meta.url'] }, 'atom.xml'] }"
  />
  <updated
    _children="{ 'utility': 'dateToISO', 'parameters': [{ 'utility': 'get', 'parameters': ['context', 'meta.built'] }] }"
  ></updated>
  <Noop _foreach="{ 'utility': 'get', 'parameters': ['context', 'blogPosts'] }">
    <entry>
      <title
        _children="{ 'utility': 'get', 'parameters': ['props', 'data.title'] }"
      ></title>
      <link
        rel="alternate"
        type="text/html"
        href="{ 'utility': 'concat', 'parameters': [{ 'utility': 'get', 'parameters': ['context', 'meta.url'] }, 'blog', '/', { 'utility': 'get', 'parameters': ['props', 'data.slug'] }, '/'] }"
      />
      <id
        _children="{ 'utility': 'get', 'parameters': ['props', 'data.slug'] }"
      ></id>
      <published
        _children="{ 'utility': 'dateToISO', 'parameters': [{ 'utility': 'get', 'parameters': ['props, 'data.date'] }] }"
      ></published>
      <content
        type="html"
        _children="{ 'utility': 'get', 'parameters': ['props', 'data.description'] }"
      ></content>
    </entry>
  </Noop>
</feed>
