<?xml version="1.0" encoding="utf-8" ?>
<feed
  __reference="https://kevincox.ca/2022/05/06/rss-feed-best-practices/"
  xmlns="http://www.w3.org/2005/Atom"
>
  <title &children="(get context meta.siteName)"></title>
  <id &children="(get context meta.url)"></id>
  <link rel="alternate" &href="(get context meta.url)" />
  <link rel="self" &href="(urlJoin (get context meta.url) atom.xml)" />
  <updated &children="(dateToISO (get context meta.built))"></updated>
  <noop &foreach="(get context blogPosts)">
    <entry>
      <title &children="(get props data.title)"></title>
      <link
        rel="alternate"
        type="text/html"
        &href="(urlJoin (get context meta.url) blog (get props data.slug))"
      />
      <id &children="(get props data.slug)"></id>
      <published &children="(dateToISO (get props data.date))"></published>
      <content type="html" &children="(get props data.description)"></content>
    </entry>
  </noop>
</feed>
