<section
  class="mb-4"
  &x-state="(concat { code: atob '(' (btoa (get props example)) ')' })"
>
  <div
    class="p-4 bg-gray-800 text-white rounded-t-lg overflow-x-auto overflow-y-hidden"
  >
    <div class="relative">
      <div class="absolute right-0 text-xs font-thin select-none text-white">
        Editor
      </div>
    </div>
    <div class="inline-block font-mono relative">
      <pre
        class="overflow-hidden mr-16 pr-16 w-full"
        x="highlight('html', state.code)"
      ></pre>
      <textarea
        class="overflow-hidden absolute min-w-full min-h-full top-0 left-0 outline-none opacity-50 bg-transparent whitespace-pre resize-none"
        oninput="setState({ code: this.value })"
        x="state.code"
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
        spellcheck="false"
        x-rows="state.code.split('\\n').length"
      ></textarea>
    </div>
  </div>
  <div class="p-4 bg-gray-200 rounded-b-lg" x="state.code">${example}</div>
</section>
