<meta name="pagepath" &content="context.pagePath" }" />
<meta
  charset="UTF-8"
  name="viewport"
  content="width=device-width, initial-scale=1.0"
/>
<meta name="og:site_name" &content="context.meta.siteName" />
<meta name="twitter:site" &content="context.meta.siteName" />
<meta name="og:title" &content="context.meta.title" />
<meta name="twitter.title" &content="context.meta.title" />
<meta name="description" &content="context.meta.description" />
<meta name="og:description" &content="context.meta.description" />
<meta name="twitter:description" &content="context.meta.description" />
<meta name="built" &content="context.meta.built" />
<title &children="context.meta.title"></title>
