<meta name="pagepath" &content="(get context pagePath)" />
<meta
  charset="UTF-8"
  name="viewport"
  content="width=device-width, initial-scale=1.0"
/>
<meta name="og:site_name" &content="(get context meta.siteName)" />
<meta name="twitter:site" &content="(get context meta.siteName)" />
<meta name="og:title" &content="(get context meta.title)" />
<meta name="twitter.title" &content="(get context meta.title)" />
<meta name="description" &content="(get context meta.description)" />
<meta name="og:description" &content="(get context meta.description)" />
<meta name="twitter:description" &content="(get context meta.description)" />
<meta name="built" &content="(get context meta.built)" />
<title &children="(get context meta.title)"></title>
