<meta name="url" &content="(get context url)" />
<meta
  charset="UTF-8"
  name="viewport"
  content="width=device-width, initial-scale=1.0"
/>
<meta property="og:site_name" &content="(get context meta.siteName)" />
<meta property="twitter:site" &content="(get context meta.siteName)" />
<meta property="og:title" &content="(get context meta.title)" />
<meta property="twitter.title" &content="(get context meta.title)" />
<meta property="description" &content="(get context meta.description)" />
<meta property="og:description" &content="(get context meta.description)" />
<meta
  property="twitter:description"
  &content="(get context meta.description)"
/>
<meta property="built" &content="(get context meta.built)" />
<title &children="(get context meta.title)"></title>
