<a
  class="underline"
  _classlist="{
    'font-bold': [
      { 'utility': 'get', 'parameters': ['props', 'href'] },
      {
        'utility': 'trim',
        'parameters': [
          { 'utility': 'get', 'parameters': ['context', 'pagePath'] },
          '/'
        ]
      }
    ]
  }"
  _href="{
    'utility': 'validateUrl',
    'parameters': [
      {
        'utility': 'get',
        'parameters': ['props', 'href']
      }
    ]
  }"
  _children="{
    'utility': 'render',
    'parameters': [
      {
        'utility': 'get',
        'parameters': ['props', 'children']
      }
    ]
  }"
/>
