<nav
  x-label="parent"
  x-state="{ closest: {}, headings: Array.from(document.querySelectorAll('main h2, h3')) }"
  x-closest="{ state: { closest: document.querySelectorAll('main h2, h3') } }"
>
  <ul x-each="state.headings">
    <li x-template>
      <a
        x-attr
        x="state.value.firstChild.textContent"
        @href="state.value.querySelector('a')?.attributes.href?.value"
        &@class="(concat
          '[state.value.textContent === parent.closest.textContent && &quot;'
          (tw underline)
          '&quot;, state.tagName === &quot;H3&quot; && &quot;'
          (tw ml-2)
          '&quot;]')"
      ></a>
    </li>
  </ul>
</nav>
